flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-limiter==3.5.0
pymongo==4.6.1
pymongo[srv]
bcrypt==4.1.2
python-dotenv==1.0.0
sendgrid==6.11.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
requests==2.31.0
dnspython==2.4.2
